* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  transition: ease all 0.125s;
}

body {
  background-color: #09090b;
}

#container {
  width: 100%;
  height: 100vh;
  position: relative;
}

:root {
  --background-base: #121212;
  --bg-color-2: rgb(24 24 27 / 1);
  --background-highlight: #18181b;
  --bg-color-3: #222224;
  --white: #ffffff;
  --gray-light: #b3b3b3;
  --normal-font: 15px;
  --smaller-font: 14px;
}

.left-sidebar {
  width: 455px;
  padding: 8px;
  z-index: 5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.left-sidebar .panel-up {
  height: 7.55rem;
  background-color: var(--bg-color-2);
  width: 100%;
  border-radius: 8px;
}
.left-sidebar .panel-up li {
  width: 100%;
  height: 53.58px;
  display: flex;
  padding: 0 1.25rem;
  align-items: center;
}
.left-sidebar .panel-up li a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--gray-light);
  font-weight: 500;
  font-size: 15px;
}
.left-sidebar .panel-up li a i {
  font-size: 24px;
  font-weight: 500;
}
.left-sidebar .panel-up li a:hover {
  color: #fff;
}
.left-sidebar .panel-down {
  width: 100%;
  border-radius: 8px;
  background-color: var(--bg-color-2);
  height: 100%;
}
.left-sidebar .panel-down .container-playlist {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 0.3rem;
}
.left-sidebar .panel-down li {
  width: 100%;
  padding: 0 1.25rem;
  height: 51.91px !important;
}
.left-sidebar .panel-down li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
  gap: 1rem;
  color: var(--gray-light);
  font-weight: 400;
}
.left-sidebar .panel-down li a i {
  font-size: 24px;
  font-weight: 500;
}
.left-sidebar .panel-down li a:hover {
  color: #fff;
}
.left-sidebar .panel-down li a.playlist {
  width: 100%;
  height: 51.91px;
  background-color: var(--bg-color-2);
  border-radius: 8px;
  box-shadow: 0 10px 5px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
.left-sidebar .panel-down li a.playlist img {
  height: 100%;
  width: auto;
  border-radius: 8px 0px 0px 8px;
}
.left-sidebar .panel-down li .container-playlist ul, .left-sidebar .panel-down li li, .left-sidebar .panel-down li a:hover {
  background-color: var(--bg-color-3);
}
.left-sidebar .panel-down li .playlist-name {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
}
.left-sidebar .panel-down li .playlist-name h3 {
  color: #fff;
  font-weight: 600;
  font-size: var(--normal-font);
}
.left-sidebar .panel-down li .playlist-name .playlist-singer {
  color: var(--gray-light);
  font-size: var(--smaller-font);
}

.relative {
  width: 100%;
  display: flex;
}

.album {
  border-radius: 8px;
  background-color: var(--bg-color-2);
  width: 100%;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  backdrop-filter: blur(30px);
  overflow: hidden;
}
.album .img-album {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 8px;
}
.album .img-album img {
  position: absolute;
  z-index: -1;
  width: inherit;
  height: 100%;
  object-fit: cover;
}
.album .blur {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(25px);
  border-radius: 8px;
}
.album .superior-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px 0px 0px;
  height: 54.58px;
}
.album .superior-section .arrows {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 24px;
}
.album .superior-section .arrows i {
  color: #fff;
  font-weight: 500;
  background-color: var(--bg-color-2);
  border-radius: 50%;
  padding: 4px;
  font-size: 20px;
}
.album .superior-section .arrows i:hover {
  background-color: var(--bg-color-3);
}
.album .superior-section .icons-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.8rem;
}
.album .superior-section .icons-area .premium {
  height: 100%;
  padding: 0.5rem 1.4rem;
  border-radius: 500rem;
  font-size: var(--normal-font);
  background-color: var(--white);
}
.album .superior-section .icons-area .premium a {
  text-decoration: none;
  width: max-content;
  color: var(--bg-color-2);
  font-weight: 600;
}
.album .superior-section .icons-area .notifications {
  font-weight: 500;
  padding: 0.5rem 0.5rem;
  background-color: var(--bg-color-2);
  color: #fff;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-decoration: none;
}
.album .superior-section .icons-area .notifications a {
  text-decoration: none;
  color: var(--white);
}
.album .album-title {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 24px;
  margin-top: 0.2rem;
}
.album .album-title .album-icon {
  border-radius: none;
}
.album .album-title .album-icon img {
  position: inherit;
  border-radius: 4px;
}
.album .album-title .album-icon img {
  width: 200px;
  height: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 0.15rem;
}
.album .album-songs {
  width: 100%;
  height: 100%;
  background-color: rgba(24, 24, 27, 0.3019607843);
  padding: 0 24px;
  margin-top: 1rem;
}
.album .album-text {
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
}
.album .album-text p {
  color: #fff;
  font-size: var(--smaller-font);
  margin-bottom: -0.2rem;
}
.album .album-text h1 {
  font-size: 5rem;
}
.album .album-text .color {
  color: var(--gray-light);
}
.album .album-text .semibold {
  font-weight: 600;
}
.album .album-text .cont-alb {
  margin-bottom: 0.5rem;
}
.album .album-icons {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  padding-top: 1.125rem;
  font-size: 1rem;
}
.album .album-icons a {
  text-decoration: none;
  color: var(--gray-light);
}
.album .album-icons a:hover {
  color: #fff;
}
.album .album-icons i {
  font-size: 2rem;
}
.album .ri-play-fill {
  color: var(--background-base);
  font-size: 2.5rem !important;
  background-color: #22c55e;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.album .ri-pause-fill {
  color: var(--background-base);
  font-size: 2.5rem !important;
  background-color: #22c55e;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.album table {
  width: 100%;
  border-spacing: 0;
}
.album table th {
  border-bottom: 1px solid var(--gray-light);
  color: var(--gray-light);
  font-weight: 500;
  font-size: var(--smaller-font);
}
.album table td {
  color: var(--white);
  font-size: var(--normal-font);
}
.album table .tb-number {
  color: var(--white-light);
  width: 80px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: start;
}
.album table .tb-title {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: start;
}
.album table .tb-title .titles-tb {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.album table .tb-title .titles-tb img {
  width: auto;
  height: 100%;
}
.album table .tb-title .titles-tb h5 {
  padding-left: 50px;
  font-weight: 500;
  font-size: var(--normal-font);
}
.album table .tb-title .titles-tb p {
  padding-left: 50px;
  font-weight: 400;
  font-size: var(--smaller-font);
  color: var(--gray-light);
}
.album table .tb-plays {
  color: var(--gray-light);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: end;
}
.album table .tb-time {
  width: 580px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: end;
  color: var(--black-light);
}
.album table .tb-time i {
  font-size: 20px;
  color: var(--black-light);
}

/*# sourceMappingURL=styles.css.map */
