
:root{
    //COLORS

    --background-base: #121212;
    --bg-color-2: rgb(24 24 27 / 1);
    --background-highlight: #18181b;
    --bg-color-3: #222224;
    --white: #ffffff;
    --gray-light: #b3b3b3;

    --normal-font: 15px;
    --smaller-font: 14px;

}
